@media all and (max-width: 759px){

    #wrap,
    header {
        width: 100%;
    }
    
    #wrap{
        overflow: hidden;
    }
    
    #ham_wrap{
        width: 0;
        height: 100%;
        position: fixed;
        bottom: 70px;
        background-color: #fff;
        overflow: hidden;
        z-index: 999;
    }
    
    #h_menu_wrap{
        width: 100%;
        height: 100%;
        position: relative;
        top: 70px;  
    }
    
    #h_menu{
        widows: 100%;
        height: 80px;
        background-color: #eaeaea;
    }
    
    #m_w_img{
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
    
    #h_menu img:nth-child(1){
        width: 150px;
        height: 70px;
        float: left;
        margin-top: 5px;
    }
    
    #h_menu img:nth-child(2){
        width: 30px;
        height: 30px;
        float: right;
        margin-top: 25px;
    }
    
    #log{
        width: 100%;
        margin: 30px auto;
        
    }
    
    #log h1{
        width: 90%;
        height: 70px;
        font-size: 25px;
        margin: 20px auto 0 auto;
        text-align: center;
    }
    
    .h_menu{
        width: 100%;
        height: 100px;
        border-bottom: 1px solid darkgray;
    }
    
    #login{
        width: 150px;
        height: 30px;
        border: 1px solid #646464;
        color: #646464;
        font: 15px/30px '';
        text-align: center;
        margin: 10px auto 0 auto;
    }
    
    .mo_m_box{
        width: 90%;
        height: 70px;
        margin: 0 auto;
        position: relative;
        top: 15px;
    }
    
    .mo_m_box h2{
        width: 200px;
        height: 45px;
    }
    
    pre{
        font-size: 17px;
        font-weight: 900;
        color: #383838;
    }
/*--------------------------------------------*/
    #event {
        width: 100%;
        height: 70px;
        background-color: #7a0106;
    }

    .side_event {
        width: 35%;
        height: 100%;
        float: left;
    }

    .side_event img {
        width: 100%;
        height: 100%;
        float: left;
    }

    #center_event {
        width: 57%;
        height: 70px;
        float: left;
        position: absolute;
        top: 0;
        right: 3%;
        color: #ffffff;
    }

    #right_event {
        float: right;
        display: none;
    }

    #center_event h1 {
        width: 43%;
        height: 100%;
        float: left;
        line-height: 70px;
        font-size: 15px;
        display: none;
    }

    #center_event span:nth-child(2) {
        font-weight: 100;
    }

    #center_event span:nth-child(1),
    #center_event span:nth-child(3) {
        font-weight: 500;
    }

    #event_box {
        float: left;
    }

    #event_box {
        width: 100%;
        height: 100%;
        font-size: 12px;
    }

    #event_box p {
        margin-top: 25px;
    }



    #bottom_header {
        width: 100%;
        height: 50px;
        background-color: #fff;
        position: relative;
        z-index: 99;
        display: none;
    }

    #in_header {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #fila {
        width: 17%;
        height: 90%;
        float: left;
        margin-top: 0.2%;
    }

    #menu_wrap {
        width: 70%;
        height: 100%;
        float: left;
        margin-left: 2%;
        display: none;
    }

    .menu {
        width: 14.28%;
        height: 100%;
        text-align: center;
        line-height: 50px;
        border: 0;
        box-sizing: border-box;
        float: left;
    }

   
    #h_icon_wrap {
        width: 50%;
        height: 50px;
        float: right;
    }
    
    .i_wrap{
        width: 20%;
        height: 50px;
        float: left;
    }

    #h_icon_wrap img {
        width: 53%;
        height: 45%;
        float: left;
        margin-top: 15px;
        margin-right: 20px;
    }

    select {
        width: 40px;
        height: 50px;
        font-size: 16px;
        border: 0;
    }
    
    /*--------------------------*/
    
    #bottom_header_1 {
        width: 100%;
        height: 50px;
        background-color: #fff;
        position: relative;
        z-index: 99;
    }

    #in_header_1 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #fila_1 {
        width: 17%;
        height: 90%;
        float: left;
        margin-top: 0.2%;
    }

    #h_icon_wrap_1 {
        width: 47%;
        height: 50px;
        float: right;
    }
    
    .i_wrap_1{
        width: 20%;
        height: 50px;
        float: left;
    }

    #h_icon_wrap_1 img {
        width: 45%;
        height: 45%;
        float: left;
        margin-top: 15px;
        margin-right: 20px;
    }
    

    #select {
        width: 45px;
        height: 50px;
        font-size: 17px;
        border: 0;
    }


    /*-----------------------------------------------------------header*/
    
    .del_img{
        display: none;
    }
    
    .swiper-container {
    width: 100%;
    height: 78.94vw;
    background-color: #bf4925;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 1
}
    
    .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
/*    height: 700px;*/
    position: relative;
    transition-property: transform
}
    
    :root {
    --swiper-navigation-size: 20px
}
    
    .swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
    background-color: #bf4925;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 60px;
}
    
    
    
    /*------------------------------------banneer*/

    #section_1 {
        width: 100%;
        height: 2320px;
        background-color: #eaeaea;
        margin: 100px auto 200px auto;
    }

    #you_s {
        width: 200px;
        height: 100px;
        font: 30px/120px '';
        text-align: center;
        font-weight: 900;
        margin: 0 auto;
    }

    #you_s span {
        font-size: 40px;
        color: #bf4925;
    }

    .pick_img {
        width: 100%;
        height: 510px;
        margin: 80px auto;
        display: none;
    }
    
    /*----------------------------------------*/
    
    .pick_img_1 {
        width: 100%;
        margin: 50px auto;
    }

    .yoo_1 {
        width: 500px;
        height: 510px;
        margin: 0 auto;
    }

    .pick_text_1 {
        width: 500px;
        height: 150px;
        background-color: #fff;
        margin: 0 auto;
    }
    
    .in_text_1 {
        width: 400px;
        height: 120px;
        margin: 0 auto;
        position: relative;
        top: 15px;
    }
    
    .in_text_1 span{
        color: #bf4925;
    }
    
    #text_st_1{
        color: black;
        text-decoration: line-through;
    }

    .in_text_1 img {
        width: 15px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -12.5px;
    }

    /*-----------------------------section_1*/

    #section_2 {
        width: 100%;
        margin: 0 auto;
    }

    #best_text {
        width: 210px;
        height: 50px;
        margin: 0 auto;
        font: 40px/50px '';
        text-align: center;
        margin-bottom: 50px;
        font-weight: 900;
    }

    #best_wrap {
        width: 100%;
    }

    .s_best {
        width: 100%;
        height: 300px;
    }

    #b_1,
    #b_2,
    #b_3,
    #b_4 {
        width: 49%;
        height: 65%;
        float: left;
    }

    #b_2,
    #b_4 {
        float: right;
    }

    .best_text {
        width: 49%;
        height: 35%;
        float: left;
        margin-right: 2%;
    }

    .b_in_box {
        width: 90%;
        height: 70%;
        margin: 5% auto;
        position: relative;
    }
    
    .b_in_box h3{
        font-size: 13px;
    }
    
    .b_in_box h1{
        font-size: 17px;
    }
    
    #del{
        display: none;
    }
    
    .b_in_box span{
        color: #bf4925;
    }
    
    .b_in_box .in_text{
        color: black;
        text-decoration: line-through;
        display: none;
    }

    #s_in_box {
        height: 57%;
        margin: 8% auto;
    }

    .best_text:last-child {
        margin-right: 0;
    }

    .best_text img {
        width: 10px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -5px;
    }

    .show {
        width: 150px;
        height: 50px;
        background-color: black;
        color: #fff;
        margin: 10% auto;
        font: 17px/50px '';
        text-align: center;
    }
    

    /*--------------------------------section_2*/

    #section_3 {
        width: 100%;
        height: 83.33vw;
        margin-top: 200px;
    }

    #s_3_text {
        width: 340px;
        height: 50px;
        font: 40px/50px '';
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 900;
    }

    #s_3_text span {
        font-weight: 100;
    }

    #collabo_wrap {
        width: 100%;
        height: 62.5vw;
    }

    video {
        width: 100%;
        height: 62.5vw;
        object-fit: cover;
        display: block;
    }

    #couple {
        width: 30%;
        height: 31.25vw;
        float: left;
        display: none;
    }

    #kids {
        width: 100%;
        height: 31.25vw;
        margin-top: -10px;
        border: 0;
        display: none;
    }

    /*---------------------------------section_3*/

    #section_4 {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        margin-top: 250px;
    }

    #section_4 h1 {
        width: 200px;
        height: 50px;
        margin: 0 auto;
        font: 40px/50px '';
        text-align: center;
        font-weight: 900;
        margin-bottom: 50px;
    }

    #sns_img_wrap {
        width: 100%;
        height: 50%;
    }

    .sns_img {
        width: 24.25%;
        height: 100%;
        float: left;
        margin-right: 1%;
        position: relative;
    }

    .sns_img:last-child {
        margin-right: 0;
    }

    .cover {
        width: 100%;
        height: 30%;
        float: left;
        margin-right: 3%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .cover:last-child {
        margin-right: 0;
    }

    .sns_img h2 {
        width: 130px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        line-height: 40px;
        position: absolute;
        top: 15%;
        left: 50%;
        margin-left: -65px;
        color: #fff;
    }

    .sns_img:nth-child(3) h2 {
        line-height: 20px;
    }

    /*--------------------------------#section_4*/

    footer {
        width: 100%;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        margin-top: 150px;
    }

    #f_box {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        position: relative;
        top: 25px;
    }

    #faq {
        width: 510px;
        height: 50px;
        margin: 0 auto;
        line-height: 30px;
        text-align: center;
        font-size: 13px;
    }

    #footer_box {
        width: 100px;
        height: 30px;
        border: 1px solid #fff;
        font: 11px/30px '';
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    p span {
        color: #fff;
        font-weight: 400;
        font-size: 11px;
    }

    footer p {
        text-align: center;
        font-size: 9px;
        color: gray;
    }

    /*-----------------------------------footer*/

    #top {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition-duration: 0.5s;
        z-index: 99;
    }

    #t_menu_wrap {
        width: 100%;
        height: 70px;
        background-color: black;
        position: absolute;
        bottom: 0;
    }

    .t_menu {
        width: 20%;
        height: 50px;
        float: left;
    }
    
    #ham{
        width: 20%;
        height: 50px;
    }

    .t_menu:last-child {
        border-bottom: 0;
    }

    .t_menu img {
        width: 30px;
        height: 24px;
        margin: 22px auto;
    }

    .t_2 {
        width: 80px;
        height: 30px;
        background-color: gray;
        color: #fff;
        font: 12px/30px '';
        text-align: center;
        margin: 20px auto 40px auto;
        border-radius: 15%;
        position: relative;
        top: -20px;
        right: 100px;
        display: none;
    }

    #top_v a {
        width: 70px;
        height: 45px;
        background-color: black;
        display: block;
        position: fixed;
        bottom: 90px;
        right: 0;
    }

    #top_v img {
        width: 25px;
        height: 15px;
        position: relative;
        top: 13px;
        left: 20px;
    }

































































}

/*end*/
